body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

.square {

}

#resetButton {
  width: 100px;

}


/* 1) Define the required constants

2) Define the required variables used to track the state of the game

3) Store elements on the page that will be accessed in code more than once in variables to make code more concise, readable, and performant.

4) Upon loading, the app should:
	4.1) Initialize the state variables
	4.2) Render those values to the page
	4.3) Wait for the user to click a square

5) Handle a player clicking a square

6) Handle a player clicking the replay button*/